.screen1{
    /* width: 100vw; */
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    top: 0;
}
.s1_container{
    /* width: 50%; */
    text-align: left;
    margin-top: 20vh;
    margin-left: 8vw;
    /* top: 50%; */
}
.logo{
    /* width: 10vw;
    height: 22vh; */
    /* top: 50px; */
}

.HR {
    border:none;
    border-top:1px dashed black;
    height:1px;
    width:25vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

p{
    color: #321C16;
    padding: 0;
    margin: 0;
    top: 0;
}
.footer{
    margin-top: 4vh;
}
.giantText{
    font-size: 17px;
}
.amtTxt{
    font-size: 20px;
}